
        #head{
            margin-top: 50px;
            text-align: center;
            background-color: yellow;
            
        }
        #head1{
            color: green;
        }
        #head2{
            text-align: center;
        }
        #head3{
            color: blue;
        }
        .head4{
            color:red;
        }
        .doan3{
            color:black;
            text-align: right;
        }
    